*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

	font-family: 'Cormorant Garamond', serif;
	}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;

}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: #555;
}
p{
	color: #555;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2 img{
  padding: 30px;
  opacity: 80%;
}
.btn{
 			display:inline-block;
  			background: #07628a;
  			color: white;
  			padding: 8px 50px;
  			margin: 10px 0;
  			border-radius: 60px;
  			transition: background 0.5s;
}
.btn:hover{
  			background: grey;

}
.header{
background: rgb(224,222,237);
background: linear-gradient(180deg, rgba(224,222,237,1) 1%, rgba(236,236,244,1) 41%, rgba(162,219,230,1) 70%);
}
.categories{
	margin: 70px;

}
.col-3{
	flex-basis: 30%;
	min-width: 30%;
	margin-bottom: 30px;

}
.col-3 img{
	width:100%;

}
.small-con{
	max-width: 1080px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.myslides img{
 width: 100%;
 height: 60%
}
.col-6 {
	max-width: 1080px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
	
}
.content {
	transition: transform;
	cursor:pointer;
}
.content:hover{
transform: translateY(-10px);
}
.abc img{
	object-fit: cover;
}

.row {
  margin: 8px -16px;
}
.small-con3{
	background: #000;
	color:#8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.small-col2 img{
	width: 100px;
	height: 200px;

}
 .row11 .col-4 {
 transition: transform;
	cursor:pointer;
}
.row11 .col-4:hover{
transform: translateY(-10px);
}
.small-col2 .col-4{
	flex-basis: 30%;
}
.small-con3 p{
	color: #8a8a8a;
	margin-bottom: 20px;
}

.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4
{
	min-width : 250 ;
	margin-bottom : 20px ;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex-basis: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 100px;
	margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
.col-4{
	margin: 20px;
}
.row11 .as{
background: white;
border: 10px solid red;
box-shadow: 10px 10px 5px grey;
}

ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
.small-con3 hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}
.w3-content img {
	width: 450px;
	margin-bottom: 20px;
	margin-top: 40px;
    border:10px solid white;

}
.w3-content h3{
	text-align: center;
}
/* Content */
.content {
  background-color: white;
  padding: 10px;

}

.content img{
	display: block;
	margin: 5px 0 5px 0;
}
/* Tablet */
/* 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {

  .navbar {
    width: 100%;
  }
  .container{
  	width: 100%;
  }
  .categories{
  	width: 80%;
  }
  
}






